@import './tailwind.css';
@import './theme.css';
@import "tailwindcss";

/* Mobile App Container */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: #1a1a1a;
}

#root {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Opcional: si el contenido se tapa con la cámara, añade este padding */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}